* {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0 !important;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

header {
  font-family: 'Raleway', sans-serif;
  padding: 0%;
  color: white;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../image/hero-bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-heading {
  padding-top: 20px;
  position: relative;
}

.header-text h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.navbar ul li a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 19.5px;
  color: white;
}

.navbar ul li {
  padding: 0px 23px;
}

.navbar ul li:hover a {
  color: #FFC451 !important;
}

.active-nav-home {
  color: #FFC451 !important;
}

.get-started-button button {
  width: 160px;
  font-weight: 600;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}

.header-middle h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  padding-top: 125px;
}

.header-middle p {
  text-align: center;
  font-size: 31px;
  font-weight: 500;
  text-transform: capitalize;
}

.header-middle {
  padding-bottom: 80px;
}

.header-bottom {
  padding-bottom: 300px;
}

.header-boxes {
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: 215px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
}

.header-boxes i {
  color: #FFC451;
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.header-boxes h2 {
  font-weight: bold;
  font-size: 27px;
}

.first-section {
  padding: 70px 0px;
}

.first-section-text {
  font-family: 'Raleway', sans-serif;
}

.italic-text {
  font-style: italic;
}

.first-section-text i {
  color: #FFC451;
}

.first-section-text h2 {
  font-size: 35px !;
  font-weight: bold;
}

.first-section-image img {
  width: 645px;
  height: 450px;
}

.first-section-text span p {
  margin-top: -25px;
  margin-left: 20px;
}

.first-section-text p {
  font-weight: 450;
  font-size: 17px;
}

.second-section-image img {
  width: 630px;
  height: 450px;
}

.second-section {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 70px;
}

.second-section i {
  color: #FFC451;
  font-size: 40px;
  padding-top: 7px;
}

.second-section p {
  font-weight: 450;
  font-size: 17px;
}

.second-section h3 {
  font-weight: 550;
}

.third-section {
  font-family: 'Raleway', sans-serif;
}

.text-second-section {
  padding-left: 55px;
  margin-top: -45px;
  padding-bottom: 4px;
}

.third-section-services {
  position: relative;
}

.services-layer::after {
  position: absolute;
  content: ' ';
  height: 27px;
  width: 174px;
  border-bottom: 2px solid #FFC451;
  left: 105px;
  top: -15px;
}

.services-layer {
  left: 100px;
}

.layer-text {
  font-size: 17px;
  font-weight: bold;
  color: gray;
}

.after-layer-text {
  font-weight: bold;
  padding-bottom: 50px;
}

.third-section-boxes i {
  color: #FFC451;
  font-size: 45px;
}

.third-section-boxes {
  border: 1px solid gray;
  height: 270px;
  width: 400px;
  margin-bottom: 48px;
  padding: 0px 39px;

  margin-right: 48px;
}

.third-section-boxes h3 {
  font-weight: bold;
}

.third-section-boxes i {
  margin-left: 147px;
  margin-top: 58px;
  margin-bottom: 20px;
}

.third-section-boxes h3,
.third-section-boxes p {
  text-align: center;
}

.third-section-boxes:last-child {
  margin-right: 0px;
}


.third-section-boxes-row p {
  font-weight: 450;
  font-size: 17px;
}

.third-section-boxes-two {
  margin-bottom: 70px;
}

.call_to_action_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../image/cta-bg.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-bottom: 70px;
}

.call_to_action_image h2,
.call_to_action_image p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

.call_to_action_image h2 {
  font-weight: bold;
}

.call_to_action_image p {
  font-weight: 450;
  font-size: 17px;
}

.call_to_action_elements {
  padding-top: 48px;
  padding-left: 314px;
  padding-right: 314px;
}

.call_to_action_button {
  font-family: 'Raleway', sans-serif;
  font-weight: 450;
  font-size: 17px;
  color: white;

  width: 150px;
  height: 40px;

  margin-left: 565px;
}

.all-contents-of-portfolio {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 70px;
}

.protfolio-image img {
  height: 490px;
}

.protfolio-content h2 {
  font-weight: bold;
}

.protfolio-content-h2 {
  margin-top: 35px;
}

.all-contents-of-portfolio p {
  font-weight: 450;
  font-size: 17px;
}

.first-section-icons i,
.second-section-icons i {
  color: #FFC451;
  font-size: 45px;
  margin-top: 25px;
}

.contents-with-icons {
  padding-left: 55px;
  padding-right: 40px;
  margin-top: -54px;
}

.carousel-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../image/testimonials-bg.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-bottom: 70px;
}

.carousel-contents img {
  height: 120px;
  width: 120px !important;
  border-radius: 50%;
}

.carousel-inner img {
  margin: 0% 45.5%;
  margin-top: 60px;
  margin-bottom: 10px;
}

.project-carousel {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.project-carousel h3 {
  font-weight: bold;
}

.carousel-inner-contents p {
  font-weight: 450;
  font-size: 17px;
}

.carousel-inner-contents q {
  font-weight: 450;
  font-size: 17px;
  font-style: italic;
}

.carousel-inner-contents {
  text-align: center;
  margin-bottom: 75px;
}

.carousel-indicators button {
  height: 13px !important;
  width: 13px !important;
  border-radius: 50% !important;
  background-color: #FFC451 !important;
}

.team {
  font-family: 'Raleway', sans-serif;
}


.team-heading h1 {
  font-weight: bold;
}

.team-heading p {
  font-weight: bold;
  font-size: 17px;
  color: gray;
}

.team-heading {
  position: relative;
  margin-bottom: 50px;
}

.team-layer {
  position: absolute;
  content: " ";
  height: 27px;
  width: 174px;
  border-bottom: 2px solid #FFC451;
  left: 55px;
  top: -15px;
}

.cards-boxes {
  --bs-gutter-x: 1rem !important;
  margin-bottom: 70px;
}

.contact {
  font-family: 'Raleway', sans-serif;
}

.contact p {
  font-weight: bold;
  font-size: 17px;
  color: gray;
}

.contact h1 {
  font-weight: bold;
}

.contact-heading {
  position: relative;
  margin-bottom: 50px;
}

.contact-layer {
  position: absolute;
  content: ' ';
  height: 27px;
  width: 174px;
  border-bottom: 2px solid #FFC451;
  left: 90px;
  top: -15px;
}

.contact-map {
  margin-bottom: 50px;
}

.contact-icons i {
  font-size: 45px;
  color: #FFC451;
}

.icon-texts {
  padding-left: 52px;
  padding-bottom: 10px;
  margin-top: -45px;
}

.icon-texts p {
  font-weight: 450;
  color: black !important;
}

.name-section-form {
  width: 422px;
  height: 48px;
  margin-bottom: 15px;
}

.email-section-form {
  width: 422px;
  height: 48px;
  margin-bottom: 15px;

  margin-left: 442px;
  margin-top: -63px;
}

.subject-section-form {
  width: 864px;
  height: 48px;
  margin-bottom: 15px;
}

.message-section-form {
  height: 97px;
  margin-bottom: 15px;
}

form a {
  margin-left: 365px;
  margin-bottom: 50px;
}

footer {
  font-family: 'Raleway', sans-serif;
  color: white;
}

footer h2 {
  font-weight: bold;
}

.backgound-color-footer {
  background-color: #202020;
  height: 280px;
}

.big-footer-elements {
  padding-top: 35px;
}

.big-footer-first-col h4,
.big-footer-second-col h4,
.big-footer-third-col h4,
.big-footer-fourth-col h4 {
  font-weight: bold;
  padding-bottom: 10px;
}

.big-footer-first-col i {
  font-size: 40px;
  color: #FFC451;
  padding-right: 10px;
}

.big-footer-first-col p,
.big-footer-fourth-col p {
  font-weight: bold;

}

.big-footer-second-col i,
.big-footer-third-col i {
  color: #FFC451;
  font-size: 17px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.big-footer-second-col a,
.big-footer-third-col a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.big-footer-fourth-col input {
  height: 48px;
  width: 209px;
  border-radius: 5px 0px 0px 5px;
}

.big-footer-fourth-col button {
  font-weight: bold;

  height: 47px;
  width: 114px;

  border-radius: 0px 5px 5px 0px;
  margin-top: -76px;
  margin-left: 209px;
}

.small-footer{
  background-color: #151515;
  height: 60px;
}

.small-footer p{
  font-weight: bold;
  font-size: 17px;
  padding-top: 18px;
}