.h-50{
    height: 50px !important;
}
.h-100{
    height: 100px !important;
}
.h-150{
    height: 150px;
}
.h-200{
    height: 200px;
}
.h-250{
    height: 250px;
}
.h-300{
    height: 300px;
}
.h-600{
    height: 600px;
}
.carousel img, .card img{
    height: 350px;
}