.div-1 {
    height: 400px;
    width: 400px;
    border: 10px solid black;
    background-color: rgb(85, 85, 85);

    border-top: 10px solid green;
    border-right: 10px solid cornflowerblue;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;

    border-radius: 10% 10% 10% 10%;

    margin-right: 50px;
}