header img {
    height: 100px !important;
}

.banner img {
    width: 100%;
}

.col-padding {
    padding: 0% !important;
}

/* END OF HEADER */

nav ul li {
    padding: 0px 90px;
}

nav ul li:hover {
    background-color: rgb(142, 221, 195);
    border-radius: 5px;
    color: #000 !important;
}

nav ul li a {
    color: rgb(255, 255, 255) !important;
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 18px !important;
    font-family: "merriweather-regular";
}

/* END OF NAVBAR */

.slider {
    font-family: "merriweather-regular";
}

.slider img {
    height: 400px;
}

.carousel-indicators .dot-indicator {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.layer {
    position: absolute;
    height: 315px;
    width: 345px;
    left: 281px;
    top: 28px;
    background-color: aliceblue;
    opacity: .6;
    border-radius: 4px;
}

.c-caption {
    color: black;
    text-align: justify;
    left: 303px;
    top: 22px;
    width: 300px;
    height: 300px;
}

/*
.c-caption {
    position: absolute;
    z-index: 2 !important;
}
*/
.carousel-readmore-button {
    width: 303px;
}

/* END OF SLIDER/CAROUSEL */

.left-content {
    background-color: rgb(149, 194, 179);
}


.about-content {
    padding: 20px 20px;
    background-color: rgb(185, 223, 210);
}

.about-content .self-img {
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 5px;
}

.about-image-layer-position {
    position: relative;
}

.about-image-layer::after {
    content: " ";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    opacity: .5;
    transition: 1s;
    top: 0;
}

.about-image-layer-position:hover .about-image-layer::after {
    height: 100%;
    width: 85%;
}

.content {
    font-family: "merriweather-regular";
    text-align: justify;
}

.recent-project-content {
    background-color: rgb(166, 194, 184);
    padding: 20px 20px;
}

.about-button {
    padding: 10px 35px;
    font-weight: bold;
}

.recent-project-text {
    text-align: center;
}

.recent-project-heading::after {
    position: absolute;
    content: ' ';
    height: 100px;
    width: 250px;
    border-bottom: 3px solid #525050;
    left: 943px;
    top: 856px;
}

.recent-project-paragraph {
    padding-top: 2px;
}

.recent-project-paragraph {
    text-transform: capitalize;
}

.card-image-position {
    position: relative;
}

.card-image-layer::after {
    content: " ";
    background-color: #000;
    position: absolute;
    opacity: .5;
    height: 0%;
    width: 0%;
    border-radius: 5px;
    transition: 1s;
    top: 0;
}

.card-image-position:hover .card-image-layer::after {
    height: 92%;
    width: 90%;
}

/* END OF CONTENT */

.big-footer {
    font-family: "merriweather-regular";
    background-color: rgb(165, 204, 191);
    padding: 20px 20px;
    text-align: justify;
}

.small-footer {
    background-color: rgb(192, 223, 213);
    font-family: "merriweather-regular";
    text-align: center;
    padding-top: 14px;
}

/* END OF FOOTER */
/* END OF INDEX/HOME */

.main-contents-of-about {
    background-color: rgb(185, 223, 210);
}

.left-contents-of-about {
    background-color: rgb(157, 207, 190);
}

.about {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-underline {
    position: absolute;
    height: 2px;
    width: 196px;
    background-color: #000;
    top: 35px;
    left: 385px;
}

.about-image-alignment {
    display: block;
    margin: auto;
    height: 300px;
    width: 400px;
}

.owl-carousel-image {
    height: 200px;
    width: 200px;
}

.client-slider button span {
    font-size: 50px;
    position: absolute;
    top: -16px;
    left: 17px;
}

.owl-nav {
    position: relative;
}

.owl-nav .owl-prev {
    position: absolute;
    top: -380px;
    background-color: black !important;
    opacity: .5;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white !important;
}

.owl-nav .owl-next {
    position: absolute;
    top: -380px;
    right: 0px;
    background-color: black !important;
    opacity: .5;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white !important;
}

.owl-carousel {
    padding-left: 10px;
    padding-right: 10px;
}

.educational-history-table div{
    border: 1px solid black;
}

.table{
    display: table;
    text-align: center;
}

.table-caption{
    display: table-caption;
}

.table-heading-row{
    font-weight: bold;
}

.table-row{
    display: table-row;
}

.table-column{
    display: table-cell;
}



.gallery-content{
    padding: 10px;
    background-color: rgb(165, 204, 191);
}

.gallery-card{
    padding: 10px;
}

#mainImg:hover{
    transform: scale(2);
    transition: 1s;
}

 

/* MOBILE VIEW */

@media screen and (min-width:320px) and (max-width:480px) {

    .banner {
        display: none;
    }

    nav {
        position: absolute !important;
        top: 20px !important;
        right: 20px !important;
    }

    nav ul li {
        padding: 0px 45px;
    }

    .mobile-view-nav {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 2;
        background-color: #0a7f8f;
        width: 150px;
        border-radius: 5% 0%;
        text-align: center;
    }

    .layer {
        width: 244px;
        left: 38px;
    }

    .c-caption p {
        display: none;
    }

    .c-caption {
        left: 54px;
    }

    .carousel-readmore-button {
        width: 215px;
    }

    .card-mobile-view {
        padding-bottom: 10px;
    }
}